@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Borel & family= Cabin & family= Baile+Guión & family= Lumanosimo & family= Roboto:wght@100 & family= Sedgwick+ Ave+Pantalla & family= Ubuntu:wght@300 & display=swap');


* {
    font-family: 'Ubuntu', sans-serif;
}

/*cuerpo*/
body {
    margin: 0rem;
    padding: 0;
    background-image: url("img/Geometric_background_generated.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

main{
    padding: 2rem;
    background-color: #f2f2f2;
}


.container {
    max-width: 400px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 80px;
    border-radius: 15px;
    align-items: relative;
    justify-content: center;
    gap: 15px;
    /* width: 400px; */
    background-color: #fffcfc9e;
    backdrop-filter: blur(1px);
    box-shadow: -8px -8px 15px rgb(88, 113, 115);
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label span {
    font-weight: 600;
    font-size: 15px;
    display: block;
}

label input {
    width: 90%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

label input:hover {
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px rgb(112, 195, 195);
}

label input:focus {
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px rgb(112, 195, 195);
}

.btn-submit {
    margin-top: 1rem;
    background-color: #0e63c5;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-submit:hover {
    opacity: 0.75;
    transform: scale(1.10);
}

header {
    background-color: rgb(76, 52, 146);
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: overline;
}

.contenido {
    display: none;
}

.contenido.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(100,34,76);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn-editar {
    background-color: #FFD700;
    /* Color dorado para el botón de editar */
}

.btn-editar:hover {
    background-color: #FFC107;
    /* Color más claro para el hover */
}

.btn-eliminar {
    background-color: #FF6347;
    /* Color rojo tomate para el botón de eliminar */
}

.btn-eliminar:hover {
    background-color: #FF4500;
    /* Color más oscuro para el hover */
}
